vendor
templates/ui/node_modules

training/tesseract/*
!training/tesseract/tessdata
training/tesseract/tessdata/*
!training/tesseract/tessdata/eng.traineddata

training/tesstrain/*
!training/tesstrain/data
training/tesstrain/data/*
!training/tesstrain/data/ChromosomeHeavy*
!training/tesstrain/data/DenneThreedee*
!training/tesstrain/data/WenQuanYiMicroHei*
!training/tesstrain/data/*.traineddata